html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background-color: black;
}

button {
  font-family: Helvetica;
}

a {
  font-family: Helvetica;
  color: inherit;
  text-decoration: none;
}

input {
  font-family: Helvetica;
}

input::placeholder {
  font-family: Helvetica;
}
